.ache1{
    color: red;
    font-size: 50px;
}

.fotofav{
    width: 90%;
    height: auto;
    overflow: hidden;
    text-align: center;
    border: 3px solid white;
    height: 200px;
}
.ache2{
    color:black;
}

.Peliculasfav{
    
    width: 100%; 
    
    border-radius: 5px;
    height: 100%;
    padding: 20px;
}



.ache3{
    color: white;
}



.serie1fav{
    border: 10px solid #de3131;
    width: 25%;
    display: inline-block;
    margin: 20px;
    text-align: center;
    height: 20%;
}










.bodygen {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        
        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px;
        }
        
        .genpeliserie{
            margin: 0;
        }
        
        .generos {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            padding: 20px;
        }
        .genero {
            max-width: 300px;
            background-color: #fff;
            border-radius: 5px;
            padding: 20px;
            text-align: center;
        }
        
        img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        
        a {
            display: block;
            text-decoration: none;
            background-color: #333;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            margin-top: 10px;
            transition: background-color 0.3s ease;
        }
        a:hover {
            background-color: #555;
        }        